ul {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

ul li {
    background-color: rgba(123,198,199,0.8);
    width: 100%;
    padding: 8px;
    font-family: sans-serif;

}

