.tarjeta {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.5);
    width: 400px;
    height: 300px;
}

.header {
    display: flex;
    background-color: black;
    flex: 1;
    justify-content: center;
    color: aliceblue;
}

.principal {
    flex: 2;
    padding-left:  10px;

}

.footer {
    display: flex;
    flex:1;
    justify-content: center;
    background-color: grey;
    color: aliceblue;
}

